html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*
   * CSS image reference example.
   */
  background-image: url('./images/9330861.png');
  text-align: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.photo-card {
  width: 32%;
  /* border: 1px solid rgb(180, 166, 166); */
  border-radius: 3px;
  margin: 5px;
  box-shadow: 0px 0px 5px 2px rgba(54, 54, 54, 0.3);
  background-color: white;
}
.stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.stats-item {
  display: flex;
  padding: 5px;
  align-items: center;
  color: rgb(102, 99, 99);
}
i.material-icons {
  padding: 8px;
  font-size: 30px;
}
.img-card {
  width: 100%;
  height: 80%;
  cursor: all-scroll;
  border-radius: 5px;
  object-position: center;
  object-fit: cover;
}
.search-input {
  margin-top: 15px;
  width: 350px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: orange;
  cursor: pointer;
}
.search-input::placeholder {
  opacity: 0.5;
}
.search-button {
  margin: 15px 10px;
  border-radius: 5px;
  width: 150px;
  height: 30px;
  font-size: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 60, 65);
  color: white;
  box-shadow: 0px 0px 5px 2px rgba(163, 163, 163, 0.3);
}
.search-button:hover {
  background-color: #ff8c00;
}
.search-form {
  background-color: rgb(43, 42, 45);
  padding: 15px;
  display: flex;
  justify-content: center;
}

/* .preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #bebebe;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
} */

.preloader {
  /*фиксированное позиционирование*/
  position: fixed;
  /* координаты положения */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* фоновый цвет элемента */
  background: #e0e0e0;
  /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
